.chat-page{
    width: 100%;
    height: auto;
    display: flex;
    padding: 5rem;
    background-color: rgba(184,220,236, 1);
}

.chat-page__user-list-container{
    width: 20%;
    height: 60rem;
    border: 0.2rem solid #000;
    padding: 2rem;
    background-color: #fff;
}

.user-list__heading{
    height: 25%;
    width: 100%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.chat-container__change-room{
    font-size: 3rem;
    color: #ffcc5c;
    text-shadow: 0.1rem 0.1rem 0.3rem #000;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 3rem;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
}

.chat-container__change-room::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
}

.chat-container__change-room:hover::before{
    border-bottom: 0.2rem solid #ffcc5c;
}

.user-list{
    height: 75%;
    width: 100%;
}

.user-list__user{
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
}

.chat-page__chat-container{
    width: 80%;
    height: 60rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(184,220,236, 1);
}

.chat-container__chat-heading{
    font-size: 5rem;
    color: #ffcc5c;
    text-shadow: 0.1rem 0.1rem 0.3rem #000;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 3rem;
}

.chat-container__chat-output{
    width: 50%;
    height: 40rem;
    background-color: #fff;
    border: 0.1rem solid #000;
    margin-bottom: 1rem;
}

.chat-container__input{
    width: 50%;
}

.chat-container__input input{
 width: 80%;
 height: 3rem;
}

.chat-container__input input:focus{
    outline: none;
}

.chat-container__input button{
    width: 20%;
    height: 3rem;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
}

.chat-container__input button:hover{
    cursor: pointer;
}

@media(max-width: 1000px){
    .chat-container__chat-output{
        width: 80%;
    }

    .chat-container__input{
        width: 80%;
    }
}

@media(max-width: 900px){
    .chat-page__user-list-container{
        width: 25%;
    }
}

@media(max-width: 700px){
    .chat-page{
        flex-direction: column-reverse;
    }

    .chat-page__chat-container{
        width: 100%;
        padding-top: 0;
    }

    .chat-page__user-list-container{
        width: 100%;
        height: auto;
    }
}

@media(max-width: 500px){
    .chat-container__chat-output{
        width: 100%;
    }

    .chat-container__input{
        width: 100%;
    }

    .chat-page__chat-container{
        padding: 0 0 5rem 0;
    }
}


